# =========================
# 1. 编译输出（核心）
# =========================
/bin/
/obj/

# 你的项目实际路径
/bin/Debug/
/obj/Debug/

# =========================
# 2. 可执行 & 中间文件
# =========================
*.exe
*.o
*.obj
*.dll
*.a
*.lib

# =========================
# 3. Code::Blocks 文件
# =========================

# 项目用户配置（忽略）
*.layout

# 编译缓存
*.depend

# =========================
# 4. 日志 / 临时文件
# =========================
*.log
*.tmp

# =========================
# 5. 系统垃圾
# =========================
.DS_Store
Thumbs.db

# =========================
# 6. 嵌入式常见产物（可选）
# =========================
*.elf
*.map
*.bin
*.hex